body{
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    /* overflow-y: hidden; */
}

.col{
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.video-player {
    width: 25%;
}

.left-tab{
    width: 20%;
    background-color: #e6e6e6;
    /* background: linear-gradient(to right,#e6e6e6,#e6e6e6, #999999); */

    text-align: center;
}

.middle-tab{
    width: 30%;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 1px #666666;
}

.right-tab{
    width: 60%;
    background-color: #f2f2f2;
    /* box-shadow: 0px -10px 10px 1px #666666 inset; */
}

.screen-height{
    height: 100vh;
}

.user-info{
    width: 90%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: -5%;
}

.user-info > img {
    width: 33%;
    border-radius: 5em;
}

.user-info > div {
    width: 100%;
    margin-top:10%;
    text-align: left;
}

.user-info > div > h4, p {
    
    padding: 0px;
    margin: 0px;
    margin-left: 10%;
}

.user-info > div > p {
    font-size: 10px;
    margin-left: 10%;
}

.activity-info{
    margin-top: 20%;
}

.activity-info-child {
    width: 30%;
}

.activity-info-child > h5, p {
    margin: 0px;
}

.activity-info-child > p{
    font-size: small;
}

.utilities-container {
    margin-top: 20%;
}

.utilities{
    width: 100%;
    opacity: 0.3;
}

.utilities:hover {
    background-color: #cccccc;
    border-left: 5px solid #005c99;
    opacity: 1;
}

.selected-util {
    background-color: #cccccc;
    border-left: 5px solid #005c99;
    opacity: 1;
}

.utilities-child {
    width: 80%;
    margin: auto;
}

.utilities-child > img {
    width: 12.5%;
    margin-right: 5%;
}

.utilities-child > h4 {
    margin: 8%;
    font-size: 14px;
}

.centered-container{
    width: 100%;
    margin: auto;
    margin-top: 0px;
}

.title-stories{
    width: 80%;
    margin: auto;
}

.story{
    height: 50%;
    padding: 3% auto ;
}

.story:hover{
    background-color: #f2f2f2;
}

.story > div > img {
    width: 17%;
    margin: 4% 2%;
    /* height: 66%; */
    border: 3px solid #0099cc;
    border-radius: 5em;
    /* box-shadow: 0px 4px 6px 0.5px #262626; */
}

.story > div > div {
    width: 100%;
    text-align: left;
    display: flex;
    align-content: center;
    justify-content: center;
}

.story > div > div > h4, p {
    padding: 0px;
    margin: 0px;
    margin-left: 10%;
}

.story > div > div > p {
    font-size: 10px;
    color: #666666;
}

.story-container {
    margin-top: 10%;
    height: 85vh;
    overflow:scroll;
    overflow-x: hidden;
}

.story-child {
    width: 80%;
    margin: auto;
}

.video-container{
    width: 40%;
    margin: auto;
    position: relative;
}

.video-container > video {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 30px 50px 5px #4d4d4d;
}

.music-container{
    width: 100%;
    height: 70px;
    background-color: none;
    z-index: 2;
}

.music-button{
    box-shadow: 0px 0px 10px 1px #0086b3;
    width: 7%;
    height: 70%;
    border-radius: 5em;
    display: flex;
    align-content: center;
    justify-content: center;
    float: right;
    margin-right: 5%;
    background-color: #ffffff;
}

.music-button > img{
    width: 60%;
    height: 60%;
    padding-top: 20%;
}

.bottom-options-container{
    width: 100%;
    position: absolute;
    bottom: 15px;
    color: #ffffff;
    display: flex;
    align-content: center;
    justify-content: center;
}

.send-msg {
    border: 1px solid #ffffff;
    border-radius: 2em;
    padding: 1% 15%;
    margin: 0px 5%;
    font-size: 12px;
}

.music-info {
    width: 30%;
    float: right;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 1px #ff8080;
    padding: 1% 3% 1% 3%;
    margin-right: 5%;
    border-radius: 10px;
    display: none;
    animation: fade-in 1s;
}

.music-info > img {
    float: left;
    width: 20%;
    margin-right: 5%;
}

.music-info > audio {
    float: right;
    display: hidden;
}

.music-info > div {
    margin-right: 5%;
    float: left;
}

.music-info > div > p {
    margin: 0px;
    font-size: 10px;
}

.music-info > div > h3 {
    margin: 0px;
}


  /* Let's get this party started */
::-webkit-scrollbar {
    width: 5px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #005c99; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background:#005c99; 
}

.my-msg{
    position: absolute;
    width: 100px;
    height: 60px;
    z-index: 10;
    background-color: red;
    animation-name: move-right;
    animation-duration: 1s;
}

.bday-msg{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #005c99;
    z-index: 15;
    font-family: 'Pacifico', cursive;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

.bday-msg > h2 {
    font-size: 30px;
}

.bday-msg > h1 {
    font-size: 100px;
}

.more-button {
    position: absolute;
    top: 15px;
    left: 5%;
    display: none;
}

.more-button > img {
    width: 50px;
    height: 50px;
    border-radius: 5em;
}



@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes slide-left {
    from {width: 0;}
    to {width: 30%;}
}

@keyframes move-right {
    from {left: 0;}
    to {left: 100%;}
}

@media only screen and (max-width: 1000px) {

    .left-tab{
        display: none;
    }

    .middle-tab{
        display: none;
    }

    .right-tab {
        width: 100%;
    }

    .video-container{
        width: 95%;
        margin-top:auto;
        position: relative;
    }

    .video-container > video {
        height: 80vh;
        box-shadow: none;
        border-radius: 10px;
    }

    .music-container{
        position: absolute;
        bottom: 3%;
    }

    .music-button{
        height: 100px;
        width: 100px;
    }

    .left-tab{
        animation-name: slide-left;
        animation-duration: 3s;
    }

    .more-button {
        display: block;
    }

    .send-msg{
        font-size: 30px;
    }

    .bottom-options-container > img {
        width: 6%;
    }

    .next-prev{
        position: absolute;
        width: 100%;
        height: 100%;

    }

    .left-side{
        background-color: none;
        width: 100%;
        height: 100%;
        z-index: 12;
    }

    .right-side{
        background-color: none;
        width: 100%;
        height: 100%;
        z-index: 12;
    }
}